body {
  font: 16px/1.5 Courier, monospace;
  margin: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.browse {
  padding: 10px 25px;
}

a {
  color: #c00;
}

input {
  width: 20em;
}

input[type="search"] {
  font-size: 200%;
  margin: 1em;
}

select {
  font-size: 150%;
}
.fail {
  color: red;
}
