:root {
  --teal: #008080;
  --red: #ff0000;
}

main {
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

form {
  display: flex;
}

img {
  margin: 1rem 0;
  max-width: 500px;
  width: 100%;
}

input {
  border: 1px solid var(--teal);
  font-size: 1.5rem;
  padding: .5rem .75rem;
}

input:focus {
  box-shadow: 0px 0px 3px var(--teal);
  outline: none;
}

input[type="search"] {
  flex-grow: 1;
  width: 100%;
}

input[type="submit"] {
  background-color: var(--teal);
  color: #fff;
  flex-grow: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.fail {
  color: var(--red);
}
