#tfheader{
  background-color:#c3dfef;
}
#tfnewsearch{
  float:right;
  padding:20px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3; border-right:0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}












body {
  background: url(http://wallpaper-gallery.net/images/movie-background-wallpaper/movie-background-wallpaper-4.jpg) no-repeat left top;
  font: 16px/1.5 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  margin: 0;

}

background {
  margin: 500px
}

.browse {
  padding: 10px 25px;
  display:list-item;
}

h1 {
  margin: 0;
}

a {
  color: White;
}

input[type="search"],
select {
  width: 200px;
}

#movie-select {
  visibility:visible;
  display: inherit;
}

#searchResults {
  position:fixed; /* instead of : position:absolute;*/
  top:7%;         /* instead of : top:100%;*/
  background-color: white;
  border: 1px solid black;
  z-index: 50;
  display: none;
}
