<form id="search" ng-submit="vm.search()">
  <input type="search"  ng-model="vm.searchTerm" placeholder="Search for a title..." id="movie-search">
  <input type="submit" value="Submit">
</form>
<select id="movie-select" ng-hide="vm.hideBar" ng-model="vm.choice" ng-change="vm.addDetails()">
  <option value="">Select a movie...</option>
  <option ng-repeat="show in vm.shows">{{show.show.name}}</option>
</select>

<div id="movie-detail" ng-show="vm.showDetails">
  <h3>{{vm.show.name}}</h3>
  <p>
    <img src={{vm.show.image.medium}}>
  </p>
  <div ng-bind-html="vm.show.summaryHtml"></div>
</div>
